<app-header [showSideMenu]="true" [hasBack]="false" header="Tasks"></app-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <app-task *ngFor="let task of tasksNotPinned" [task]="task"></app-task>
    </ion-row>
  </ion-grid>
  <div *ngIf="tasksPinned.length > 0">
    <ion-list>
      <ion-item [style]="{ 'margin-top' : '70px' }">Pinned</ion-item>
    </ion-list>
    <app-task [style]="{ 'margin-top' : '50px' }" *ngFor="let task of tasksPinned" [task]="task"></app-task>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>