<app-header [showSideMenu]="true" [hasBack]="false" header="Tasks"></app-header>
<ion-content>
  <ion-searchbar placeholder="Search by title" animated (ionChange)="searchTasks($event)"></ion-searchbar>

  <div *ngIf="tasks.length == 0" class="noTasksContainer">
    <img
      src="https://res.cloudinary.com/instagram-web2/image/upload/v1604963746/wunderlist-clon-moviles/prueba02_kzj7hf.jpg">
    <p><b>Start creating tasks by pressing + button.</b></p>
  </div>

  <ion-list>
    <app-task *ngFor="let task of tasksNotPinned | filter: searchTask: 'title'" [task]="task"
      (deletedTask)="deletedTask($event)"></app-task>
  </ion-list>

  <div *ngIf="tasksPinned.length > 0">
    <ion-item>
      <ion-label><b>PINNED</b></ion-label>
      <ion-icon name="eyedrop"></ion-icon>
    </ion-item>
    <app-task *ngFor="let task of tasksPinned" [task]="task"></app-task>
  </div>

  <!-- <ion-list>
    <ion-reorder-group [disabled]="false" (ionItemReorder)="reorder($event)">
      <ion-item *ngFor="let item of items">
        <ion-label>{{item}}</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCreateTaskModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>