<ion-header class="ion-no-border">
  <ion-toolbar>
    <img src="assets/person.jpg" class="avatar">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" class="slide-full">
    <ion-slide *ngFor="let slide of slides">
      <ion-card>
        <img [src]="slide.img">
      </ion-card>
      <ion-card-header>{{slide.description}}</ion-card-header>
    </ion-slide>
    <ion-slide>
      <ion-button expand="full" color="primary" fill="clear" (click)="start()">Start the journey!</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>